Repository derekpierre/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, Demos, Dependencies

extract _validate_contract_type_or_function_abi to validation.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/validation.py
Labels: none

Additional refactoring when aligning comparator based on outputs.
  nucypher/policy/conditions/validation.py
Labels: none

Handle bytes when nested within lists/sub-lists comparator values/results.
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/validation.py
  tests/unit/conditions/test_contract_conditions.py
Labels: none

Choose random condition from list so that different condition types are continually tested by dkg ritual acceptance test.
  tests/acceptance/actors/test_dkg_ritual.py
Labels: none

eager validation of a contract function ABIs.
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/validation.py
Labels: none

remove unreachable code blocks
  nucypher/policy/conditions/validation.py
Labels: none

Relock.
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

Once a receipt is obtained clear the tx hash from the dkg storage utility.
  nucypher/blockchain/eth/actors.py
  nucypher/datastore/dkg.py
Labels: none

Musing about not scanning the top `N` blocks instead of having the scanner go backwards and potentially repeat events.
  nucypher/blockchain/eth/trackers/dkg.py
  nucypher/utilities/events.py
  tests/unit/test_event_scanner.py
Labels: none

Use built-in ssl function for obtaining ssl certs.
  nucypher/utilities/certs.py
Labels: none

Improve node logging when invalid node is encountered.
  nucypher/network/nodes.py
Labels: none

Simplify netloc replacement of request url.
  nucypher/utilities/certs.py
Labels: none

Don't reuse the same SSL context.
  nucypher/utilities/certs.py
  tests/unit/test_memory_certs.py
Labels: none

Add test regarding already having an invalid cert and it getting refreshed as part of retry.
  tests/unit/test_memory_certs.py
Labels: none

Cleanup ugly workaround code for setting cache on PoolManager.
  nucypher/utilities/certs.py
Labels: none

Update test to use updated name for cache member variable.
  tests/unit/test_memory_certs.py
Labels: none

Add test that ensures that when ursula restarts and its tls certificate changes, that a P2PSession can reconnect to it and update its cache.
  tests/acceptance/characters/test_certs.py
Labels: none

Rename Polygon Mumbai enum to Polygon Amoy.
  nucypher/blockchain/eth/domains.py
  tests/unit/test_taco_domains.py
Labels: none

Update chain information to include polygon amoy as a valid chain.
  nucypher/blockchain/eth/clients.py
  nucypher/policy/conditions/evm.py
Labels: none

Update chain id used in taco examples to be polygon amoy.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
Labels: Demos

Update lynx github action to use polygon amoy endpoint.
  .github/workflows/lynx.yml
Labels: none

Skip github registry source test until registries have been updated to use amoy instead of mumbai.
  tests/unit/registry/test_registry_soures.py
Labels: none

Since based over v7.2.0 for updating tapir, use last released mainnet version of contracts and not `main` for acceptance tests.
  tests/acceptance/ape-config.yaml
Labels: none

Update Lynx contract registry with latest Lynx deployment on Polygon Amoy as part of migration from Polygon Mumbai.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Update ritual id for testnet examples - use ritual 0 for lynx that now uses polygon amoy.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
Labels: Demos

Don't use ETH in text about tx cost since it could be MATIC.
  nucypher/blockchain/eth/interfaces.py
Labels: none

Update tapir registry based on latest deployment to polygon amoy.
  nucypher/blockchain/eth/contract_registry/tapir.json
Labels: none

Add newsfragment for #3468.
  newsfragments/3468.misc.rst
Labels: none

No need to skip test anymore since `nucypher-contracts` for tapir were updated to use Polygon Amoy. Rename file since it was previously incorrectly named.
  tests/unit/registry/test_registry_sources.py
Labels: none

Only retrieve struct values from contract based on number of expected fields in associated python struct. This better maintains compatibility whenever the struct in the contract adds fields.
  nucypher/blockchain/eth/agents.py
Labels: none

Remove old and no longer used code associated with operator information.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
Labels: none

Update embedded lynx contract registry based on latest lynx upgrade and updated registry from `nucypher-contracts`.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Add newsfragment for #3479.
  newsfragments/3479.misc.rst
Labels: none

1st commit.
  README.md
Labels: none

Update discord link.
  README.md
Labels: none

Lorem ipsum.
  README.md
Labels: none

Add "any" to security section.
  README.md
Labels: none

Apply suggestions from code review from Derek
  README.md
Labels: none

removes specialzed RPC clients/shims; Deprecated RPC accounts management APIs.
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/characters/unlawful.py
  tests/mock/interfaces.py
  tests/unit/conftest.py
  tests/unit/test_web3_clients.py
Labels: none

Various adjustments post cherry-pick.
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/characters/unlawful.py
  tests/integration/characters/test_freerider_attacks.py
  tests/mock/interfaces.py
  tests/unit/test_ethereum_client.py
Labels: none

.github/labeler.yml:

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
