Repository derekpierre/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, Demos, Dependencies

.github/labeler.yml:

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Improve typehints for event scanner and ritual event processing.
  nucypher/blockchain/eth/trackers/dkg.py
  nucypher/utilities/events.py
Labels: none

Fix incorrect typehint for publishing aggregated transcript.
  nucypher/blockchain/eth/actors.py
Labels: none

Fix incorrect ferveo imports.
  nucypher/blockchain/eth/actors.py
Labels: none

Use fire_and_forget for ritual transactions for publishing transcripts/aggregated transcripts.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  tests/mock/coordinator.py
Labels: none

Remove unused get_ritual() method in Ritualist.
  nucypher/blockchain/eth/actors.py
Labels: none

Allow dkg actions for the ritual rounds to be more stateless with respect to potentially previously processed events.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/trackers/dkg.py
  tests/unit/test_ritualist.py
Labels: none

Update acceptance tests contract deployment / fixtures; StakeInfo is no longer a contract.
  tests/acceptance/ape-config.yaml
  tests/acceptance/conftest.py
  tests/constants.py
  tests/integration/cli/actions/test_select_client_account.py
  tests/utils/ape.py
Labels: none

Remove over-aggressive rename of `stake_info`.
  tests/integration/cli/actions/test_select_client_account.py
Labels: none

Modify nucypher-contracts dependency being used for alpha-13 support to point to alpha-13 EPIC.
  tests/acceptance/ape-config.yaml
Labels: none

Update version of openzeppelin contracts dependency.
  tests/acceptance/ape-config.yaml
Labels: none

Some initial work regarding modification of agents as it pertains to proxies.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/lawful.py
  tests/acceptance/agents/test_contract_agency.py
  tests/acceptance/agents/test_coordinator_agent.py
  tests/acceptance/ape-config.yaml
  tests/acceptance/conftest.py
  tests/fixtures.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/integration/conftest.py
  tests/integration/learning/test_discovery_phases.py
  tests/integration/network/test_network_actors.py
  tests/mock/coordinator.py
  tests/utils/ape.py
  tests/utils/ursula.py
Labels: none

Test LynxRootApplication and LynxChildApplication with our acceptance tests.
  tests/acceptance/ape-config.yaml
  tests/acceptance/conftest.py
  tests/utils/ape.py
Labels: none

Create implicit mapping of TACo network name to entries for eth network and poly network. Provider class level SUPPORTED_NETWORKS and SUPPORTED_NETWORK_NAMES constants.
  nucypher/blockchain/eth/networks.py
Labels: none

Update network selection logic via the CLI and update test.
  nucypher/cli/actions/select.py
  tests/integration/cli/actions/test_select_network.py
Labels: CLI

Update mocking for NetworksInventory class in tests.
  tests/conftest.py
  tests/utils/registry.py
Labels: none

Update calls to NetworksInventory as they pertain to unit tests passing.
  nucypher/blockchain/eth/registry.py
  nucypher/cli/commands/taco.py
  nucypher/cli/commands/ursula.py
  nucypher/config/characters.py
Labels: CLI

Integration tests mock modifications for network resolution.
  tests/integration/conftest.py
Labels: none

Acceptance tests mock modifications for network resolution.
  tests/acceptance/conftest.py
Labels: none

Rename eth_provider_uri to eth_endpoint as it pertains to Characters/nodes/CLI options.
  examples/pre/finnegans_wake_demo/finnegans-wake-demo-l2.py
  examples/pre/heartbeat_demo/alicia.py
  examples/pre/heartbeat_demo/doctor.py
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/trackers/bonding.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/actions/configure.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/config/base.py
  nucypher/config/characters.py
  nucypher/config/migrations/configuration_v5_to_v6.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/utilities/prometheus/metrics.py
  tests/acceptance/characters/test_fault_tolerance.py
  tests/acceptance/characters/test_operator.py
  tests/acceptance/characters/test_transacting_power.py
  tests/acceptance/cli/test_ursula_init.py
  tests/acceptance/cli/test_ursula_run.py
  tests/fixtures.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/cli/test_cli_config.py
  tests/integration/cli/test_mixed_config.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/cli/test_ursula_config_cli.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/integration/config/test_configuration_persistence.py
  tests/integration/config/test_keystore_integration.py
  tests/integration/config/test_storages.py
  tests/metrics/grant_availability.py
  tests/unit/test_character_sign_and_verify.py
  tests/utils/config.py
Labels: CLI, Demos

Bump character configuration to v8 and add migration script.
  nucypher/config/base.py
  nucypher/config/migrations/__init__.py
  nucypher/config/migrations/configuration_v7_to_v8.py
Labels: none

Rename pre_payment_provider to polygon_endpoint as it pertains to Characters/Configurations/CLI parameters.
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/config/base.py
  nucypher/config/characters.py
  tests/acceptance/cli/test_ursula_init.py
  tests/acceptance/cli/test_ursula_run.py
  tests/integration/cli/test_cli_config.py
  tests/integration/cli/test_mixed_config.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/cli/test_ursula_config_cli.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/utils/config.py
Labels: CLI

Provide richer chain information from TACoNetwork class including chain id and name for underlying blockchain networks.
  nucypher/blockchain/eth/networks.py
  nucypher/config/base.py
  tests/utils/registry.py
Labels: none

Rename eth_provider_uri to eth_endpoint in various spots specific to payment, config, characters.
  nucypher/characters/unlawful.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/utils.py
  nucypher/policy/payment.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/fixtures.py
  tests/integration/characters/test_dkg_and_testnet_bypass.py
  tests/integration/cli/actions/test_select_client_account.py
  tests/integration/config/test_configuration_persistence.py
  tests/integration/config/test_keystore_integration.py
  tests/integration/config/test_storages.py
Labels: CLI

Temporary workaround until single registry changes are used.
  nucypher/blockchain/eth/networks.py
Labels: none

Update nucypher_agents script.
  scripts/hooks/nucypher_agents.py
Labels: none

Make sure Bob passes along polygon_endpoint parameter value to Character.
  nucypher/characters/lawful.py
Labels: none

Use correct value from enum for teacher nodes. Add unit test for supported taco networks.
  nucypher/network/nodes.py
  tests/unit/test_teacher_nodes.py
Labels: none

Update nucypher_dkg script to accomodate naming/philosophy changes regarding not needing redundant parameters for associated polygon network.
  scripts/hooks/nucypher_dkg.py
Labels: none

Update TACo example scripts to no longer use redundant parameters with respect to polygon network.
  examples/local_simple_taco.py
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
Labels: Demos

Update PRE examples to no longer require specifying an L2_NETWORK since it is implied based on the TACo Network being used.
  examples/pre/finnegans_wake_demo/README.md
  examples/pre/finnegans_wake_demo/finnegans-wake-demo-l2.py
  examples/pre/heartbeat_demo/alicia.py
  examples/pre/heartbeat_demo/doctor.py
  examples/pre/heartbeat_demo/heartbeat_demo.md
Labels: Demos

Update grant availability script to use taco network philosophy and no longer specify l2 network since it is now implied.
  tests/metrics/grant_availability.py
Labels: none

Rename members in ChainInfo to avoid smurfing.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/networks.py
  nucypher/config/characters.py
  nucypher/config/migrations/configuration_v5_to_v6.py
  scripts/hooks/nucypher_dkg.py
Labels: none

Rename Eth/PolyNetwork to Eth/PolyChain to better reflect their usage.
  nucypher/blockchain/eth/networks.py
  nucypher/config/characters.py
  nucypher/config/migrations/configuration_v5_to_v6.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/conftest.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/utils/registry.py
Labels: none

During Ursula interactive configuration, don't show NU balance since is/will be no longer applicable to Threshold Network. Show MATIC balance instead of ETH.
  nucypher/cli/actions/select.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  tests/integration/cli/actions/test_select_client_account.py
Labels: CLI

More renames of instances of eth_provider_uri to either blockchain_endpoint or eth_endpoint.
  examples/pre/finnegans_wake_demo/finnegans-wake-demo-l2.py
  examples/pre/heartbeat_demo/alicia.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/actions/select.py
  nucypher/cli/painting/transactions.py
  nucypher/cli/utils.py
  nucypher/config/base.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/utilities/ethereum.py
  nucypher/utilities/networking.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
  tests/acceptance/characters/test_operator.py
  tests/acceptance/conftest.py
  tests/acceptance/test_testerchain.py
  tests/fixtures.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_configuration_persistence.py
  tests/integration/learning/test_firstula_circumstances.py
  tests/integration/network/test_failure_modes.py
  tests/integration/network/test_network_actors.py
  tests/integration/utilities/test_prometheus_collectors.py
  tests/unit/test_web3_clients.py
  tests/utils/blockchain.py
  tests/utils/config.py
  tests/utils/middleware.py
Labels: CLI, Demos

Rename provider_uri parameter for ContractAgents.get_agent to blockchain_endpoint.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/trackers/bonding.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/taco.py
  nucypher/cli/painting/status.py
  nucypher/network/nodes.py
  nucypher/policy/payment.py
  nucypher/utilities/prometheus/collector.py
  scripts/hooks/nucypher_agents.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/agents/test_contract_agency.py
  tests/acceptance/agents/test_token_agent.py
  tests/acceptance/cli/test_ursula_init.py
  tests/acceptance/conditions/conftest.py
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/conftest.py
  tests/metrics/grant_availability.py
  tests/unit/test_ritualist.py
Labels: CLI, Demos

Update renames for call to from_seednode_metadata.
  nucypher/network/nodes.py
Labels: none

More renames of provider_uri to blockchain_/eth_ endpoint.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/characters/lawful.py
  nucypher/cli/actions/configure.py
  nucypher/cli/commands/taco.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/painting/status.py
  nucypher/cli/utils.py
  nucypher/config/characters.py
  nucypher/network/nodes.py
  nucypher/utilities/networking.py
  tests/metrics/grant_availability.py
  tests/unit/test_external_ip_utilities.py
  tests/utils/ursula.py
Labels: CLI

Update mocking of list of polygon chains.
  tests/mock/interfaces.py
Labels: none

Deprecate condition_provider_uris in favour of condition_blockchain_endpoints.
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/config/characters.py
  nucypher/config/migrations/configuration_v7_to_v8.py
  tests/integration/characters/test_ursula_startup.py
Labels: none
