Repository derekpierre/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, Demos, Dependencies

.github/labeler.yml:

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - poetry.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Rename Polygon Mumbai enum to Polygon Amoy.
  nucypher/blockchain/eth/domains.py
  tests/unit/test_taco_domains.py
Labels: none

Update chain information to include polygon amoy as a valid chain.
  nucypher/blockchain/eth/clients.py
  nucypher/policy/conditions/evm.py
Labels: none

Update chain id used in taco examples to be polygon amoy.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
Labels: Demos

Update lynx github action to use polygon amoy endpoint.
  .github/workflows/lynx.yml
Labels: none

Skip github registry source test until registries have been updated to use amoy instead of mumbai.
  tests/unit/registry/test_registry_soures.py
Labels: none

Since based over v7.2.0 for updating tapir, use last released mainnet version of contracts and not `main` for acceptance tests.
  tests/acceptance/ape-config.yaml
Labels: none

Update Lynx contract registry with latest Lynx deployment on Polygon Amoy as part of migration from Polygon Mumbai.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Update ritual id for testnet examples - use ritual 0 for lynx that now uses polygon amoy.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
Labels: Demos

Don't use ETH in text about tx cost since it could be MATIC.
  nucypher/blockchain/eth/interfaces.py
Labels: none

Update tapir registry based on latest deployment to polygon amoy.
  nucypher/blockchain/eth/contract_registry/tapir.json
Labels: none

Add newsfragment for #3468.
  newsfragments/3468.misc.rst
Labels: none

No need to skip test anymore since `nucypher-contracts` for tapir were updated to use Polygon Amoy. Rename file since it was previously incorrectly named.
  tests/unit/registry/test_registry_sources.py
Labels: none

Only retrieve struct values from contract based on number of expected fields in associated python struct. This better maintains compatibility whenever the struct in the contract adds fields.
  nucypher/blockchain/eth/agents.py
Labels: none

Remove old and no longer used code associated with operator information.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
Labels: none

Update embedded lynx contract registry based on latest lynx upgrade and updated registry from `nucypher-contracts`.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Add newsfragment for #3479.
  newsfragments/3479.misc.rst
Labels: none

1st commit.
  README.md
Labels: none

Update discord link.
  README.md
Labels: none

Lorem ipsum.
  README.md
Labels: none

Add "any" to security section.
  README.md
Labels: none

Apply suggestions from code review from Derek
  README.md
Labels: none

removes specialzed RPC clients/shims; Deprecated RPC accounts management APIs.
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/characters/unlawful.py
  tests/mock/interfaces.py
  tests/unit/conftest.py
  tests/unit/test_web3_clients.py
Labels: none

Various adjustments post cherry-pick.
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/characters/unlawful.py
  tests/integration/characters/test_freerider_attacks.py
  tests/mock/interfaces.py
  tests/unit/test_ethereum_client.py
Labels: none

Limit number of operands for CompoundAccessControlCondition - still need to handle the case of nested compound conditions.
  nucypher/policy/conditions/lingo.py
  tests/acceptance/conditions/test_multichain_evaluation.py
  tests/unit/conditions/test_compound_condition.py
Labels: none

Initial musing about how sequential conditions could work as part of CompoundAccessControlCondition.
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_compound_condition.py
Labels: none

Separate RPC/Contract calls from the corresponding RPC/Contract Condition. It will eventually allow calls to be components for combining/sequential type of calls.
  nucypher/policy/conditions/context.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/time.py
  nucypher/policy/conditions/validation.py
Labels: none

Fix tests based on separation of rpc/contract calls from the associated condition.
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/conditions/test_multichain_evaluation.py
  tests/unit/conditions/test_compound_condition.py
  tests/unit/conditions/test_context.py
  tests/unit/conditions/test_contract_condition.py
  tests/unit/conditions/test_time_condition.py
Labels: none

Move more execution logic into RPCCall/ContractCall objects.
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/exceptions.py
  nucypher/policy/conditions/time.py
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/conftest.py
  tests/unit/conditions/test_contract_condition.py
Labels: none

Add SequentialContractCondition condition type, that allows contract calls to be made sequentially, and results of one contract call can be passed into a subsequent call.
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/lingo.py
Labels: none

Check for duplicate entries between user supplied endpoints and fallback endpoints. All endpoints for a specific chain should be unique.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/utils.py
Labels: none

Update numpy dependency and match it with python compatibility - 3.8 no longer compatible.
  dev-requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: Dependencies

Rename some TDec methods
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
Labels: none

Add deprecation note for Coordinator.is_encryption_authorized. See #3349
  nucypher/blockchain/eth/agents.py
Labels: none

Draft of how to query IEncryptionAuthorized directly, instead of via Coordinator
  nucypher/blockchain/eth/actors.py
Labels: none

Finish renaming from derive_decryption_share to produce_decryption_share.
  nucypher/characters/chaotic.py
  nucypher/crypto/ferveo/dkg.py
  nucypher/crypto/powers.py
Labels: none

Re-organize code to make testing easier for now - this should probably be made cleaner, but in the interim it allows the tests to pass.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
Labels: none

Use ONE_DAY constant for other constants.
  tests/acceptance/conftest.py
Labels: none

Update contract deployments based on updated fee model architecture in nucypher-contracts.
  tests/acceptance/ape-config.yaml
  tests/acceptance/conftest.py
Labels: none

Update CoordinatorAgent and MockCoordinatorAgent initiateRitual calls to include fee model contract.
  nucypher/blockchain/eth/agents.py
  tests/mock/coordinator.py
Labels: none

Update tests accordingly to accommodate fee model architecture where appropriate.
  tests/acceptance/actors/test_dkg_ritual.py
  tests/acceptance/actors/test_ursula_operator_dkg_rounds.py
  tests/acceptance/agents/test_coordinator_agent.py
  tests/integration/blockchain/test_integration_dkg_ritual.py
  tests/unit/test_coordinator.py
Labels: none
