Repository derekpierre/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, Demos, Dependencies

TACo favicon in status page
  nucypher/network/templates/basic_status.mako
Labels: none

Prepare ground for signing request encryption
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/blockchain/eth/trackers/signing.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/actors/test_signing_ritual_tracker.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/ape-config.yaml
  tests/unit/crypto/test_keystore.py
Labels: none

better SigningRequestDecryptingPower code
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/unit/crypto/test_keystore.py
Labels: none

Adds newsfragment
  newsfragments/3666.dev.rst
Labels: none

Renames of request powers
  nucypher/blockchain/eth/actors.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/integration/config/test_keystore_integration.py
  tests/unit/crypto/test_keystore.py
Labels: none

Utilize encrypted signing request/responses from `nucypher-core`.
  dev-requirements.txt
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/concurrency.py
  nucypher/network/server.py
  requirements.txt
Labels: Dependencies

Combine power creation for Signing/DecryptingRequestPower into one code block since they both share a common parent class.
  nucypher/crypto/keystore.py
Labels: none

Add documentation for the various powers.
  nucypher/crypto/powers.py
Labels: none

Add Optional to typehint for signer parameter for ThresholdSigningPower since it can be None.
  nucypher/crypto/powers.py
Labels: none

Update SigningRequestPower to use `nucypher-core` objects for handling signing requests/responses.
  nucypher/crypto/powers.py
Labels: none

Update handling of signing request to leverage signing request power for decrypting/encrypting signing requests/responses.
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
Labels: none

Move handling of threshold decryption requests from Ursula to Operator. Now that it is moved previous functions exposed by Operator are no longer needed.
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
Labels: none

feat(conditions): add JSON, hex, and keccak operators
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): add tests for JSON, hex, and keccak operators
  tests/unit/conditions/test_variable_operation.py
Labels: none

test(conditions): add JSON-API tests for variable operations
  tests/unit/conditions/test_json_api_condition.py
Labels: none

crafting a simulated discord payload compunded with ecdsa condition
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

expands sequential condition testing to demo concatenation of context params passed into ECDSA vars.
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

Add newsfragment for PR #3664
  newsfragments/3664.feature.rst
Labels: none

Address PR feedback: fix toHex operator and improve test quality
  nucypher/policy/conditions/lingo.py
  tests/integration/conditions/test_ecdsa_condition_integration.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Address Derek's second round of PR feedback
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

refactor(conditions): simplify keccak operator to use native type handling
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): fix keccak(int) test case and type error skip lists
  tests/unit/conditions/test_variable_operation.py
Labels: none

Update variable operation type error to account for new operations: to/fromJson, to/fromHex, keccak.
  tests/unit/conditions/test_variable_operation.py
Labels: none

Adapt code and tests for changes in getActiveStakingProviders
  nucypher/blockchain/eth/agents.py
  nucypher/policy/reservoir.py
  tests/acceptance/agents/test_taco_application_agent.py
  tests/acceptance/agents/test_taco_child_application_agent.py
  tests/acceptance/conditions/test_conditions.py
Labels: none

Get rid of threshold_staking fixture in acceptance tests
  tests/acceptance/actors/test_ursula_operator_confirmation.py
  tests/acceptance/agents/test_sampling_distribution.py
  tests/acceptance/agents/test_taco_application_agent.py
  tests/acceptance/characters/test_fault_tolerance.py
  tests/acceptance/cli/test_ursula_init.py
  tests/acceptance/conftest.py
Labels: none

Adapt acceptance tests to new behavior of TACoApplication
  tests/acceptance/agents/test_taco_child_application_agent.py
  tests/acceptance/characters/test_fault_tolerance.py
Labels: none

Use a test contract for conditions acceptance tests
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/contracts/ConditionOverloadedMethods.sol
Labels: none

For the moment, use PR branch as nucypher-contracts reference
  tests/acceptance/ape-config.yaml
Labels: none

Update references to T min authorization
  nucypher/cli/types.py
  tests/acceptance/conftest.py
Labels: CLI

Fix deployment of TACoApplication contract given update to constructor.
  tests/acceptance/conftest.py
Labels: none

Remove use of Coordinator.TREASURY_ROLE which is no longer available.
  tests/acceptance/conftest.py
Labels: none

Clean up ECDSA condition to use ConditionType enum instead of string literal.
  nucypher/policy/conditions/ecdsa.py
Labels: none

Rename _ConditionField to ConditionField and adjust logic to ensure it handles the case where it is not required.
  nucypher/policy/conditions/lingo.py
Labels: none

Add new SelectCondition that allows for multiple conditions to be defined and one run based on a matching select case.
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/select.py
  nucypher/policy/conditions/types.py
Labels: none

Add tests for SelectCondition.
  tests/unit/conditions/test_condition_lingo.py
  tests/unit/conditions/test_select_condition.py
Labels: none

Some code cleanup for unneecessary init definitions. Raise ValidationError when lingo is invalid for Condition. Properly leverage parent classes when (de)serializing ConditionField.
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_select_condition.py
Labels: none

.github/labeler.yml:

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - poetry.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
