Repository derekpierre/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, Demos, Dependencies

.github/labeler.yml:

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Re-add unused `operator_signature_from_metadata` parameter, some concerns about usage - something to address later.
  nucypher/characters/lawful.py
Labels: none

Add newsfragments for #3262.
  newsfragments/3262.misc.txt
  newsfragments/3262.removal.rst
Labels: none

Initialize blockchain connection for both eth_endpoint and polygon_endpoint using common code.
  nucypher/config/base.py
Labels: none

Remove IBEX as a supported domain. Update IBEX TACoDomain to use None for PolygonChain since it never used polygon.
  nucypher/blockchain/eth/networks.py
Labels: none

Unskip test_domains integration tests.
  tests/integration/learning/test_domains.py
Labels: none

Remove use of network when dealing with NetworksInventory class.
  nucypher/blockchain/eth/networks.py
  tests/acceptance/conftest.py
  tests/conftest.py
  tests/integration/conftest.py
Labels: none

IBEX no longer a supported domain name.
  tests/unit/test_teacher_nodes.py
Labels: none

Update CLI --network option to be --domain. Update subsequent function calls to use domain as well instead of network. Update some constants to use _DOMAIN instead of _NETWORK.
  examples/pre/finnegans_wake_demo/finnegans-wake-demo-l2.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/actions/configure.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/utilities/networking.py
  scripts/hooks/nucypher_agents.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/cli/test_ursula_init.py
  tests/acceptance/cli/test_ursula_run.py
  tests/constants.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/cli/actions/test_select_client_account.py
  tests/integration/cli/test_cli_config.py
  tests/integration/cli/test_mixed_config.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/cli/test_ursula_config_cli.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/unit/test_external_ip_utilities.py
  tests/utils/ursula.py
Labels: CLI, Demos

Update description to no longer include "proxy re-encryption".
  docs/source/conf.py
  nucypher/__about__.py
Labels: none

Rename networks module to domains, and remove NetworksInventory class; module contains all values and methods now.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/domains.py
  nucypher/blockchain/eth/networks.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/taco.py
  nucypher/cli/options.py
  nucypher/cli/types.py
  nucypher/config/base.py
  nucypher/config/characters.py
  nucypher/config/migrations/configuration_v5_to_v6.py
  nucypher/network/nodes.py
  nucypher/policy/payment.py
  scripts/hooks/nucypher_agents.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/conftest.py
  tests/conftest.py
  tests/fixtures.py
  tests/integration/cli/actions/test_select_network.py
  tests/integration/conftest.py
  tests/metrics/grant_availability.py
  tests/unit/conftest.py
  tests/unit/test_teacher_nodes.py
  tests/utils/registry.py
Labels: CLI, Demos

The use of the `blockchain_` prefix for blockchain providers and interfaces is redundant; so remove the prefix from those usages.
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/actions/select.py
  nucypher/cli/painting/transactions.py
  nucypher/cli/utils.py
  nucypher/config/base.py
  nucypher/utilities/ethereum.py
  nucypher/utilities/prometheus/collector.py
  tests/acceptance/conftest.py
  tests/acceptance/test_testerchain.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/unit/test_web3_clients.py
  tests/utils/blockchain.py
Labels: CLI

Yield after patching allowed domains.
  tests/utils/registry.py
Labels: none

Update TEMPORARY_DOMAIN tester chains to use "eth-tester" as chain name instead.
  nucypher/blockchain/eth/domains.py
Labels: none

Fix failing test (after rebase).
  tests/unit/test_teacher_nodes.py
Labels: none

Fix bug where filepath should be used with LocalRegistrySource and not with ContractRegistry directly. Use domain as parameter instead of network when calling get_registry(...) in utils.
  nucypher/cli/commands/taco.py
  nucypher/cli/utils.py
Labels: CLI

Don't use TACoDomain object in examples since not really needed.
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
Labels: Demos

Don't create new TACoDomain object when one is already available via the superclass (Character).
  nucypher/config/characters.py
Labels: none

Just a musing about TACoDomain structure.
  examples/local_simple_taco.py
  examples/pre/finnegans_wake_demo/finnegans-wake-demo-l2.py
  examples/pre/heartbeat_demo/alicia.py
  examples/pre/heartbeat_demo/doctor.py
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/domains.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/taco.py
  nucypher/cli/types.py
  nucypher/config/base.py
  nucypher/config/migrations/configuration_v5_to_v6.py
  nucypher/network/nodes.py
  nucypher/policy/payment.py
  scripts/hooks/nucypher_agents.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/conftest.py
  tests/conftest.py
  tests/integration/characters/test_dkg_and_testnet_bypass.py
  tests/integration/cli/actions/test_select_network.py
  tests/integration/conftest.py
  tests/unit/test_teacher_nodes.py
  tests/utils/registry.py
Labels: CLI, Demos

Add optional python profiling to script and use profiling functionality for lynx workflow job on CI.
  .github/workflows/lynx.yml
  examples/testnet_simple_taco.py
Labels: Demos

Add tests for proper handling of bytes, validating sanitization of values, and handling of tuples. Additional test cleanup.
  tests/unit/conditions/test_return_value.py
Labels: none

Don't modify passed-in object during processing.
  nucypher/policy/conditions/lingo.py
Labels: none

Add tests for tuple processing logic for both verification and execution.
  tests/acceptance/conditions/test_conditions.py
  tests/unit/conditions/test_contract_conditions.py
Labels: none

Properly handle non-JSON serializable value where possible or raise exception on creation of ReturnValueTest.
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_return_value.py
Labels: none

Improve handling of tuple output types (for one-level); still need to investigate one more additional level of tuple types i.e. tuple of tuple.
  nucypher/policy/conditions/evm.py
Labels: none

Add newsfragment for #3303.
  newsfragments/3303.bugfix.rst
Labels: none

Simple code cleanup.
  nucypher/policy/conditions/evm.py
  tests/unit/conditions/test_return_value.py
Labels: none

Some additional handling for tuples - still not complete; will revisit logic.
  nucypher/policy/conditions/evm.py
Labels: none

Handle the case where bytes are return from contract call, but can only be compared to hex in condition return value test since bytes are not JSON serializable for conditions.
  nucypher/policy/conditions/lingo.py
Labels: none

Improve helper function naming for clarity as it pertains to aligning comparator and ABI.
  nucypher/policy/conditions/evm.py
Labels: none

Conditions are much more strict about typing now, update tests/scripts to be more accurate about types for comparator values.
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/actors/test_dkg_ritual.py
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/conditions/test_multichain_evaluation.py
  tests/fixtures.py
  tests/integration/blockchain/test_integration_dkg_ritual.py
  tests/integration/config/test_keystore_integration.py
Labels: none

Commonize check for context variable when validating value type.
  nucypher/policy/conditions/evm.py
Labels: none

Utilize ABI information to properly process return value comparator types, and to account for bytes being returned from contract call, but hex used in return value comparator value test.
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/time.py
Labels: none

Add tests to account for ABI types.
  tests/acceptance/conditions/test_conditions.py
  tests/data/test_conditions.json
  tests/unit/conditions/test_condition_lingo.py
  tests/unit/conditions/test_contract_conditions.py
  tests/unit/conditions/test_return_value.py
Labels: none

Use our own implementation of collapse_if_tuple instead of web3's to avoid array dimension information from ABI.
  nucypher/policy/conditions/evm.py
Labels: none

Add tests for bytes abi output types and comparing it to hex comparator values.
  tests/unit/conditions/test_contract_conditions.py
Labels: none

Rename helper method and make it static.
  nucypher/policy/conditions/evm.py
Labels: none

Test cleanup - don't repeat entire condition for certain more invloved tests eg. tuples.
  tests/unit/conditions/test_contract_conditions.py
Labels: none

Apply RFCs from #3303.
  nucypher/policy/conditions/evm.py
Labels: none

modularize condition type enforcement
  nucypher/policy/conditions/evm.py
Labels: none

Extract stateless condition type checkers to validation.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/validation.py
Labels: none
