Repository derekpierre/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, Demos, Dependencies

.github/labeler.yml:

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Code cleanup when resolving condition class.
  nucypher/policy/conditions/lingo.py
Labels: none

Clean up inheritance and proper validation of conditions.
  nucypher/policy/conditions/base.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/offchain.py
  nucypher/policy/conditions/time.py
Labels: none

Update tests based on improved inheritance and other changes.
  tests/unit/conditions/conftest.py
  tests/unit/conditions/test_compound_condition.py
  tests/unit/conditions/test_contract_condition.py
  tests/unit/conditions/test_json_api_condition.py
  tests/unit/conditions/test_sequential_condition.py
Labels: none

ExecutionCalls should be their own objects without the concern of serialization i.e. better separation of execution from condition lingo.
  nucypher/policy/conditions/base.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/offchain.py
  nucypher/policy/conditions/time.py
Labels: none

Add freshness check for EIP-712.
  nucypher/policy/conditions/auth/evm.py
  tests/fixtures.py
  tests/unit/conditions/test_context.py
  tests/unit/conditions/test_evm_auth.py
Labels: none

Add ability for other Authorization headers to be used (Basic, X-API-KEY) with both JSON API and RPC conditions.
  nucypher/policy/conditions/json/api.py
  nucypher/policy/conditions/json/auth.py
  nucypher/policy/conditions/json/base.py
  nucypher/policy/conditions/json/rpc.py
Labels: none

Add test for POAP API call.
  tests/acceptance/conditions/test_conditions.py
Labels: none

Introduce breaking change when posting transcripts
  nucypher/blockchain/eth/agents.py
Labels: none

Add newsfragment
  newsfragments/3588.dev.rst
Labels: none

Perform signing within the `ThresholdSigningClient` since it is used by both Bob and Porter. Updates and clean up for simple signing example.
  examples/testnet_simple_signing.py
  nucypher/characters/lawful.py
  nucypher/network/decryption.py
Labels: Demos

Code cleanup. Signing returns tuple of HexBytes. Skip erc4337 tests.
  examples/testnet_simple_signing.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/crypto/powers.py
  nucypher/network/signing.py
  nucypher/utilities/erc4337_utils.py
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/conditions/test_signing_cohort.py
  tests/unit/test_erc4337_utils.py
Labels: Demos

Allow the creation of multiple valid eip4361 auth messages by a factory fixture.
  tests/fixtures.py
  tests/unit/conditions/test_address_allowlist_condition.py
Labels: none

Add "index" variable operation.
  nucypher/policy/conditions/lingo.py
Labels: none

Add round, ceil, floor operations.
  nucypher/policy/conditions/lingo.py
Labels: none

Allow manual triggering python-tests CI workflow so that code coverage reports can be submitted - current use case is submitted from `main`.
  .github/workflows/python_tests.yml
Labels: none

Tone down discovery loop logging on soft errors
  nucypher/network/nodes.py
Labels: none

Improve logging of handover
  nucypher/blockchain/eth/actors.py
Labels: none

TACo favicon in status page
  nucypher/network/templates/basic_status.mako
Labels: none

Prepare ground for signing request encryption
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/blockchain/eth/trackers/signing.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/actors/test_signing_ritual_tracker.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/ape-config.yaml
  tests/unit/crypto/test_keystore.py
Labels: none

better SigningRequestDecryptingPower code
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/unit/crypto/test_keystore.py
Labels: none

Adds newsfragment
  newsfragments/3666.dev.rst
Labels: none

Renames of request powers
  nucypher/blockchain/eth/actors.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/integration/config/test_keystore_integration.py
  tests/unit/crypto/test_keystore.py
Labels: none

Utilize encrypted signing request/responses from `nucypher-core`.
  dev-requirements.txt
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/concurrency.py
  nucypher/network/server.py
  requirements.txt
Labels: Dependencies

Combine power creation for Signing/DecryptingRequestPower into one code block since they both share a common parent class.
  nucypher/crypto/keystore.py
Labels: none

Add documentation for the various powers.
  nucypher/crypto/powers.py
Labels: none

Add Optional to typehint for signer parameter for ThresholdSigningPower since it can be None.
  nucypher/crypto/powers.py
Labels: none

Update SigningRequestPower to use `nucypher-core` objects for handling signing requests/responses.
  nucypher/crypto/powers.py
Labels: none

Update handling of signing request to leverage signing request power for decrypting/encrypting signing requests/responses.
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
Labels: none

Move handling of threshold decryption requests from Ursula to Operator. Now that it is moved previous functions exposed by Operator are no longer needed.
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
Labels: none

feat(conditions): add JSON, hex, and keccak operators
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): add tests for JSON, hex, and keccak operators
  tests/unit/conditions/test_variable_operation.py
Labels: none

test(conditions): add JSON-API tests for variable operations
  tests/unit/conditions/test_json_api_condition.py
Labels: none

crafting a simulated discord payload compunded with ecdsa condition
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

expands sequential condition testing to demo concatenation of context params passed into ECDSA vars.
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

Add newsfragment for PR #3664
  newsfragments/3664.feature.rst
Labels: none

Address PR feedback: fix toHex operator and improve test quality
  nucypher/policy/conditions/lingo.py
  tests/integration/conditions/test_ecdsa_condition_integration.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Address Derek's second round of PR feedback
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

refactor(conditions): simplify keccak operator to use native type handling
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): fix keccak(int) test case and type error skip lists
  tests/unit/conditions/test_variable_operation.py
Labels: none

Update variable operation type error to account for new operations: to/fromJson, to/fromHex, keccak.
  tests/unit/conditions/test_variable_operation.py
Labels: none
